@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
[data-theme="dark"] {
  color-scheme: dark;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    Apple Color Emoji,
    Segoe UI Emoji;
}
