name: add-to-project

on:
  issues:
    types: [opened, reopened]
  pull_request:
    types: [opened, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: write
  issues: write
  projects: write

jobs:
  add:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1
        with:
          project-url: https://github.com/users/yasertunc/projects/1
          github-token: ${{ secrets.GITHUB_TOKEN }}

